main {
  height: 960px;
  width: 960px;
  padding: 0;
  margin: 10px auto;
}

.grid {
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  height: 60px;
  width: 60px;
  user-drag: none;
  -webkit-user-drag: none;
}
